/* Navbar */
#navbar-slider {
    height: 100%;
}

/* Carousel */

#slider-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)) , url(/assets/img/slider-1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}
#slider-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)) , url(/assets/img/slider-2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}
#slider-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)) , url(/assets/img/slider-3.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

/* Features */

#features-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)) , url(/assets/img/Veggie-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80%;
}


#features-veggies {
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)) , url(/assets/img/Veggie-Patterns.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40%;
}

@media screen and (max-width: 992px) {

    #features-bg {
        background-image: url(/assets/img/Veggie-bg.png), url(/assets/img/Veggie-Patterns.png);
        background-size: contain;
        min-height: 60%;
    }

    #features-veggies {
        background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)) , url(/assets/img/Veggie-Patterns.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 10%;
    }
}


/* Feature Images */

.feature-img {
    position: relative;
}

.feature-fab {
    position: absolute;
    bottom: -3%;
    left: 10%;
}

@media screen and (max-width: 992px) {

    .feature-img {
        position: unset;
    }
    
    .feature-fab {
        position: unset;
    }
}

*/

/* Welcome Section */

#welcome {
    min-height: 80%;
}

#cob-bg {
    background-image: url(/assets/img/cob-1.png), url(/assets/img/cob-2.png);
    background-position: right, right;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
}

/* Services Section */

#services-bg {
    background-image: url(/assets/img/services-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80%;
}

#services-whitebg {
    background-color: white;
    min-height: 30%;
}

.services-img {
    position: relative;
}

.services-icon {
    position: absolute;
    bottom: 28%;
    right: 25%;
}
.services-icon2 {
    position: absolute;
    bottom: 28%;
    right: 25%;
}

@media screen and (max-width: 992px) {

    .services-icon {
        position: absolute;
        bottom: 12%;
        right: 25%;
    }

    #services-whitebg {
        background-color: white;
        min-height: 20%;
    }
}

/* Projects */

#project-bg {
    background-image: url(/assets/img/projects-bg.png), url(/assets/img/veggie-1.png);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, contain;
    background-position: bottom right;
    min-height: 60%;
}

/* Clients */

#clients-bg {
    background-image: url(/assets/img/clients-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90%;
}

#clients-veggies {
    background-image: url(/assets/img/veggie-1.png), url(/assets/img/veggie-2.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 20%, 20%;
    background-position: bottom left, bottom right;
}

/* Video */


/* Colors and Bg-Colors */
.bg-peach {
    background-color: #FFECBA;
}

.text-teal {
    color: teal;
}

html {
    overflow-x: hidden;
}

