/* Navbar */
#navbar-slider {
    height: 100%;
}

/* Carousel */

#slider-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)) , url(/assets/img/slider-1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}
#slider-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)) , url(/assets/img/slider-2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}
#slider-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)) , url(/assets/img/slider-3.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

/* Features */

#features-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)) , url(/assets/img/Veggie-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}




#features-veggies {
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)) , url(/assets/img/Veggie-Patterns.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40%;
}

@media screen and (max-width: 768px) {

    #features-bg {
        background-image: url(/assets/img/Veggie-bg.png), url(/assets/img/Veggie-Patterns.png);
        background-size: contain;
        min-height: 60%;
    }

    #features-veggies {
        background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)) , url(/assets/img/Veggie-Patterns.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 10%;
    }
}


/* Feature Images */

/* 
.feature-img {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.feature-fab {
    bottom: 0%;
}

@media screen and (max-width: 769px) {

    .feature-img {
        position:unset;
    }
    
    .feature-fab {
        position: unset;
    }
}

*/

/* Welcome Section */

#welcome {
    min-height: 100%;
}

#cob-bg {
    background-image: url(/assets/img/cob-1.png), url(/assets/img/cob-2.png);
    background-position: right, right;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, contain;
}

/* Colors and Bg-Colors */
.bg-peach {
    background-color: #FFECBA;
}

.text-teal {
    color: teal;
}

