/* Farmbook */

#farmbook-bg {
    background-image: url(/farmbook/assets/img/farmbook-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 60%;
}

#farmbook-leaf {
    background: url(/farmbook/assets/img/leaf.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 40%;

}

@media screen and (max-width: 768px) {

    #farmbook-leaf {
        background: transparent;
        background-position: top right;
        background-repeat: no-repeat;
        background-size: 40%;
    
    }

}


/* Card */

.card img {
    border-radius: 10px 10px 0 0;
}

.card .card-body {
    border-radius: 0 0 10px 10px;
}

/* Searchbar */

.searchbar {
    background-color: inherit;
    border-color: transparent;
    outline: transparent;
}

/* Nav-pill */

.nav-pills .nav-item .nav-link{
    color: orange;
}

.nav-pills .nav-item .active{
    background-color: teal;
}

/* Video */

.vidbuttonblog {
    background-color: orange;
    color: teal;
}

/* Video Buttons */

.vid-button {
    background-color: orange;
    color: teal;
    border-radius: 12px;
}

/* Scrollbar */

html {
    overflow-x: hidden;
}

/* Back to Top Button */

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 2;
    
  }
